<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Tirth Prajapati, Rushi Patel">
    <meta name="description" content="Assignment_02">
    <title>Events</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="../../content/event.css">
</head>
<body>

<header></header>


<main class="container">
    <h1 class="mb-5">Events</h1>
    <div id="teamContainer" class="row"></div>
    <div id="events-container"></div>
</main>

<div class="calendar">
    <div class="header">
        <button id="prevMonthBtn">&lt;</button>
        <h2 id="currentMonthYear"></h2>
        <button id="nextMonthBtn">&gt;</button>
    </div>
    <div class="days"></div>
</div>


<footer>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="#">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="privacypolicy.html"><i class="fa-solid fa-lock"></i> Privacy policy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="termsofservice.html"><i class="fa-solid fa-sliders"></i> Terms Of Service</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html"><i class="fa-brands fa-contao"></i> Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</footer>

<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../scripts/event.js"></script>
<script src="../../scripts/app.js"></script>
</body>
</html>
