<!--Group 6-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Tirth Prajapati, Rushi Patel">
    <meta name="description" content="Assignment_02">
    <title>Team</title>


    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>

<body>

<header></header>

<main class="container">
    <h1 class="mb-5">Meet Our Team</h1>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="../../graphics/rushi.jpg" class="card-img-top" alt="Team Member 1">
                <div class="card-body">
                    <h5 class="card-title">Rushi Patel</h5>
                    <p class="card-text">Student - Durham College</p>
                    <p>I'm eagerly charting my career in the dynamic field of IT, driven by a tenacious curiosity and a knack for translating lines of code into inventive solutions. My  skills are ideal combination of a technology enthusiast, a problem solver, and a quick learner. I'm committed to being a future-ready IT professional, set to make an impact in the ever-changing tech world, and I'm armed with a passion for coding in languages such as Python and Java. Let us connect and discover the fascinating potential of technology together!</p>
                    <button><a href="https://www.linkedin.com/in/rushi-patel-02b597268/" class="btn btn-primary">View LinkedIn</a></button>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="../../graphics/tirth.jpg" class="card-img-top" alt="Team Member 2">
                <div class="card-body">
                    <h5 class="card-title">Tirth Prajapati</h5>
                    <p class="card-text">Student - Durham College</p>
                    <p>It is me Tirth.
                        I am a full time student at Durham College and I am pursuing Computers & Applications.
                        As an undergraduate, I have successfully completed the basic learnings of some programming languages.
                        Below are some names of languages that I have learnt so far.
                        Python
                        HTML,CSS,XML
                        PHP
                        Java,
                        MySQL.
                        I am looking forward to find a career in Python as it is one of the popular and preferred languages in the recent IT sector.</p>
                    <button><a href="https://www.linkedin.com/in/tirth-prajapati-2b385322a" class="btn btn-primary">View LinkedIn</a></button>
                </div>
            </div>
        </div>
        <div class="modal fade" id="teamMemberModal1" tabindex="-1" role="dialog" aria-labelledby="teamMemberModalLabel1" aria-hidden="true">

        </div>

        <h4>Our Headquarter</h4>
    </div>
    <div id="map" style="height: 400px;"></div>

</main>

<footer>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="#">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="privacypolicy.html"><i class="fa-solid fa-lock"></i> Privacy policy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="termsofservice.html"><i class="fa-solid fa-sliders"></i> Terms Of Service</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html"><i class="fa-brands fa-contao"></i> Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</footer>


<!-- Include Leaflet JavaScript -->
<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../scripts/app.js"></script>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>




</body>
</html>
